*{
    box-sizing: border-box;
    transition: all 0.2s cubic-bezier(.79,.14,.15,.86);
}
body {
    overflow-x: hidden;
}
.footer_section {
    box-sizing:content-box;
}
.review_outer {
    height: 90vh;
    background-color: #121919;

    padding: 4% 15% 5% 15%;
}
.review_outer div {
    /* border: 1px solid red; */
}
.review_inner {
    height: 100%;
    width:100%;

    display: grid;
    grid-template-rows: repeat(9, 1fr);
    row-gap:5%;
}
.review_inner div {
    /* padding: 3%; */
}
.references_title {
    font-family: 'Jost', sans-serif;
    font-size:2vw;
    font-weight: 700;
}
.refrence_item {
    font-family: 'Inter', sans-serif;
    font-size:1.5vw;
}



@media (max-width: 1200px) {
    .review_outer {
        height: 80vh;
    }
    .references_title {
        font-size:2.4vw;
    }
    .refrence_item {
        font-size:1.5vw;
    }
}
@media (max-width: 1000px) {
    .review_outer {
        height: 70vh;
    }
    .references_title {
        font-size:2.4vw;
    }
    .refrence_item {
        font-size:1.5vw;
    }
}
@media (max-width: 800px) {
    .review_outer {
        height: 70vh;
    }
    .references_title {
        font-size:2.8vw;
    }
    .refrence_item {
        font-size:1.5vw;
    }
}


@media (max-width: 600px) {
}

@media (max-width: 500px) {
}